* {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
body {
    background-color: ghostwhite;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
   
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

header h1{
    font-weight: bolder;
    font-size: 300%;
}

.section_project {
    font-weight: bolder;
}

#project_section {
    background-color: lightgrey;
 
}

#project_section h2{
    text-align: center;
    margin: 0px;
    padding: 10px;
}

#project_section ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    padding: 10px;
    gap: 20px;
    overflow: hidden;
}

.project_card1 img{
    height: 193px;
}

.project_card1 {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.project_card1:hover {
    background-color: lightsalmon;
    border: 1px solid darkgrey;
    border-radius: 15px;
    transform: scale(1.17);
    
}

.project_card2 img{
    height: 193px;
}

.project_card2 {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.project_card2:hover {
    background-color: cornflowerblue;
    border: 1px solid darkgrey;
    border-radius: 15px;
    transform: scale(1.17);
}

.project_card3 img{
    height: 193px;
}

.project_card3 {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.project_card3:hover {
    background-color: yellow;
    border: 1px solid darkgrey;
    border-radius: 15px;
    transform: scale(1.17);
}

#skill_section {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#skill_section table, thead, tr, th {
    border: 1px solid;
    font-weight: bold;
 
}

#skill_section table, tr, td {
    border: 1px solid;
    text-align: center;
 
}
#skill_section th {
    width: 30%;
    background-color:whitesmoke;
 
}

#skill_section h2{
    text-align: center;
    margin: 0px;
    padding: 10px;
}

.section_skill {
    font-weight: bolder;
}

#professional_link a img {
   height: 20px;
}
footer {
    text-align: center;
    
}

footer p {
    font-size: smaller;
    font-weight: bold;
}